<%= form_with(model: [:admin, @event, @registration], local: true) do |form| %>
  <% if @registration.errors.any? %>
    <div class="alert alert-danger">
      <h4>There were some errors:</h4>
      <ul>
        <% @registration.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :name, class: "form-label" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :email, class: "form-label" %>
    <%= form.email_field :email, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :phone_number, class: "form-label" %>
    <%= form.telephone_field :phone_number, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :register_date, class: "form-label" %>
    <%= form.collection_select :register_date, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :location, class: "form-label" %>
    <%= form.text_field :location, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :profession, class: "form-label" %>
    <%= form.text_field :profession, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.submit "Register", class: "btn btn-primary" %>
  </div>
<% end %>
