<h2>Registrations for <%= @event.title %></h2>

<%= link_to "New Registration", new_admin_event_event_registration_path(@event), class: "btn btn-success mb-3" %>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Location</th>
      <th>Profession</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @event.event_registrations.each do |reg| %>
      <tr>
        <td><%= reg.name %></td>
        <td><%= reg.email %></td>
        <td><%= reg.phone_number %></td>
        <td><%= reg.location %></td>
        <td><%= reg.profession %></td>
        <td>
         <%= link_to "Edit", edit_admin_event_event_registration_path(@registration.event, @registration), class: "btn btn-primary" %>
         <%= link_to "Back to Registrations", admin_event_event_registrations_path(@registration.event), class: "btn btn-secondary" %>
        <%= link_to "Delete", admin_event_event_registration_path(@event, reg), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
