<h1>Event Registrations</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>User</th>
      <th>Event</th>
      <th>Status</th>
      <th>Registered At</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @event_registrations.each do |registration| %>
      <tr>
        <td><%= registration.user&.email || 'N/A' %></td>
        <td><%= registration.event&.title || 'N/A' %></td>
        <td><%= registration.status %></td>
        <td><%= registration.created_at.strftime("%b %d, %Y") %></td>
        <td>
          <%= link_to "Show", admin_event_registration_path(registration), class: "btn btn-sm btn-primary" %>
          <%= link_to "Edit", edit_admin_event_registration_path(registration), class: "btn btn-sm btn-secondary" %>
          <%= link_to "Delete", admin_event_registration_path(registration), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-sm btn-danger" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to "New Registration", new_admin_event_registration_path, class: "btn btn-success" %>
