<h1>Events</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Image</th>
      <th>Title</th>
      <th>Description</th>
      <th>Start Time</th>
      <th>End Time</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td>
          <% if event.image.attached? %>
            <%= image_tag event.image.variant(resize_to_limit: [100, 100]), alt: event.title %>
          <% else %>
            No Image
          <% end %>
        </td>
        <td><%= event.title %></td>
         <td><%= truncate(event.description, length: 100) %></td>
          <td><%= event.start_date.strftime("%b %d, %Y") if event.start_date %></td>
        <td><%= event.end_date.strftime("%b %d, %Y") if event.end_date %></td>
        <td><%= event.status %></td>
        
        <td>
          <%= link_to "Show", admin_event_path(event), class: "btn btn-sm btn-primary" %>
          <%= link_to "Edit", edit_admin_event_path(event), class: "btn btn-sm btn-secondary" %>
          <%= link_to "New Feedback", new_admin_event_feedback_path(event), class: "btn btn-success" %>
          <%= link_to "Delete", admin_event_path(event), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-sm btn-danger" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "New Event", new_admin_event_path, class: "btn btn-success" %>
