<h1>New Reply</h1>
<%= render 'form' %>
<%= link_to "Back", admin_event_feedback_replies_path(@event, @feedback) %>
<%= link_to "Back to Feedbacks", admin_event_feedbacks_path(@event) %>
<%= link_to "Back to Event", admin_event_path(@event) %>
<%= link_to "Back to Admin Dashboard", admin_root_path %>